.main-container{
	.left-side{
		.price-head{
			border-bottom: 2px solid #ddd;
		}
		.product-box{
			border:1px solid #ddd;
			box-sizing:border-box;
			box-shadow: 5px 5px #ddd;
		}
	}
	.right-side{
		border: 1px solid #979797;
		height: 30em;
		input[type=text] {
            border: none;
            background-color: none;
            outline: 0;
            font-size: 25px;
            width: 300px;
            height: 59px;
            &::placeholder{
                font-size: 25px;
                color: #bebebe;
                font-weight: 600;
            }
        }
        hr{
        	margin-top: 0;
        }
        .total-price{
        	margin: 8em 0 0 20em;
        }
        .btns{
        	position: absolute;
		    top: 26em;
		    left: 20em;
        }
	}
}